.me {
    padding: 40px 0;
}
.content-content>.myaccount-content {
    border: none!important;
}
.myaccount-content {
    font-size: 1rem;
    border: 1px solid #cecece;
    padding: 30px;
    color: #333;
    text-align: left;
}
.myaccount-content h3 {
    border-bottom: 1px dashed #cecece;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.logout {
    color: #62ab00;
}
.btn:hover {
    color: #62ab00;
}
.account-details-form input {
    display: block;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 0;
    line-height: 24px;
    padding: 11px 25px;
    color: #333;
    background: transparent;
    border-radius: 3px;
}
.btn--primary {
    background: #62ab00;
    color: #fff !important;
}
.btn {
    border-radius: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 50px;
    font-size: 13px;
    font-weight: 600;
    padding: 0 50px;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 1;
}
.myaccount-tab-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-right: 50px;
    text-align: left;
}
.myaccount-tab-menu a {
    border: 1px solid #cecece;
    border-bottom: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    display: block;
    padding: 15px 15px 13px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
}
.myaccount-tab-menu a:last-child {
    border-bottom: 1px solid #cecece;
}
.nav_icon {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}
.myaccount-tab-menu a:hover {
    background-color: #62ab00;
    color: #fff;
}
.logout {
    border-top: none!important;
}