.feature-box {
    border: 2px solid #e5e5e5;
    padding: 20px 15px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.feature-box .icon {
    margin-right: 20px;
    color: #62ab00;
    font-size: 34px;
    line-height: 40px;
}

.feature-box .text h5 {
    font-size: 16px;
    font-weight: 400;
    color: #282828;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 0;
}

.feature-box .text P:last-child {
    margin-bottom: 0;
}

.feature-block {
    margin-top: 30px;
}