.bg-info {
  background-color: #fff !important;
}
.nav__li {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  padding: 10px 25px;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.nav__icon {
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  position: relative;
}
.nav__icon:hover {
  color: #62ab00;
}
.nav__icon span {
  display: block;
  font-size: 1.1rem;
}
.user {
  position: relative;
}
.nav__item {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 140px;
  text-align: center;
  top: 70px;
  left: -20px;
  padding: 10px;
  z-index: 99;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
.nav__item h3 {
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.25;
}
.nav__item h3 strong {
  color: #00c4cc;
}
.nav__item ul {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
}
.nav__item a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  line-height: 2.25;
}
.nav__ul {
  margin: 0;
}
.header-phone .icon {
  font-size: 50px;
  color: #62ab00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}
.header-phone p {
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 5px;
}
.header-phone p.number {
  font-weight: 700;
  color: #333;
}
.header-search-block {
  position: relative;
}
.header-search-block input {
  font-size: 16px;
  color: #333;
  width: 100%;
  height: 52px;
  float: none;
  font-weight: 400;
  background: #fff;
  border: 2px solid #eee;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0 125px 0 20px;
}
.header-search-block button {
  position: absolute;
  top: 0;
  right: 0;
  background: #62ab00;
  border: 0;
  line-height: 52px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  padding: 0 35px;
  color: #fff;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.header-search-block button:hover {
  opacity: 0.8;
}
.header_icon {
  margin: auto;
}
.stop_event {
  visibility: hidden;
  position: fixed;
  z-index: -2;
  width: 400rem;
  height: 400rem;
}
.permit {
  visibility: visible;
  z-index: 0;
}
/* Transition */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Responsive */
@media (max-width: 1024px) {
  .bg-info {
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }
}

.router-link-exact-active {
  color: #62ab00;
}

span.item {
  background: red;
  width: 20px;
  height: 20px;
  font-size: 13px !important;
  border-radius: 50%;
  color: #000;
  position: absolute;
  top: 0;
  left: 50%;
  font-weight: bold;
}
