.main-product-categories {
    padding-bottom: 60px;
}
.sb-custom-tab {
    text-align: center;
}
.sb-custom-tab .nav.nav-tabs {
    display: inline-flex;
    justify-content: center;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
}
.sb-custom-tab .nav.nav-tabs .nav-item {
    font-size: 15px;
    color: #282828;
    line-height: 48px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    background: #fff;
    position: relative;
    margin: 1px;
    border-radius: 3px;
}
.sb-custom-tab .nav.nav-tabs .nav-item .nav-link {
    padding: 0 30px;
    border: 2px solid transparent;
    margin: -2px;
    color: #282828;
    -webkit-transition: border-color 0s, color 0.4s;
    transition: border-color 0s, color 0.4s;
}
a.nav-link.active {
    border-color: #62ab00!important;
    color: #62ab00!important;
}